* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	margin:0px;
	border:0px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	background:url('img/light_honeycomb.png');
}
#wrapper{
	width:940px;
	height:3890px;
	margin-left:auto;
	margin-right:auto;
	border:0px;
}
header,header nav ,header div{
	height:40px;
}
.blink {
    -webkit-animation-duration: 0.7s;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
	}
@-webkit-keyframes blink {
	    from {opacity: 1;}
	    to{opacity: 0.2;}
	}

#navfixed{
	padding:5px 20px 5px 20px;
}
.fixed_img{
	width:220px;
	height:220px;
	background: url('img/p1.png')no-repeat 95% 95%;
	background-size: 220px 220px;
}
.hex_profile{
	width:220px;
	height:220px;
	background:#6b956d;
	opacity:0.7;
}
.hex_profile:hover{
	opacity:1;
}
.Hex{
  text-align:center;
  width:190px;
  letter-spacing: 5px;
  line-height:220px;
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -moz-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -ms-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
}
.type_2{
	background:#444444;
}
.type_3{
	background:RGB(113,64,12);
}
.adjust{
	line-height:100px;
}
#header_my_fixed{
	float:right;
	color:#FFD700;
}
#Personal{
	position:absolute;
	width:940px;
	height:800px;
	margin:0 auto;
	top:0px;
	background:#fdcb23;
}
#hex1{
	position:relative;
	left:32px;
	top:160px;
}
#hex2{
	position:relative;
	left:128px;
	top:110px;
}
#hex3{
	position:relative;
	left:226px;
	top:-280px;
}
#hex4{
	color:#0000CD;
	position:relative;
	left:323px;
	top:-330px;
}
#hex5{
	color:#0000CD;
	position:relative;
	left:420px;
	top:-720px;
}
#hex6{
	color:#0000CD;
	position:relative;
	left:518px;
	top:-770px;
}
#hex7{
	color:#FF4500;
	position:relative;
	left:616px;
	top:-1160px;
}
#hex8{
	color:#FF4500;
	position:relative;
	left:715px;
	top:-1210px;
}
.talkbubble {
   width: 300px; 
   height: 80px; 
   background:#fff;
   position: relative;
   -moz-border-radius:    10px; 
   -webkit-border-radius: 10px; 
   border-radius:         10px;
   text-align:center;
   letter-spacing: 6px;
   line-height:80px;
   font-size:30px;
   left:530px;
   top:330px;
   color:#ccc;
}
.talkbubble:before {
   content:"";
   position: absolute;
   right: 97%;
   top: 45px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #fff;
   border-bottom: 13px solid transparent;
}
#Education{
	position:relative;
	width:940px;
	height:800px;
	margin:0 auto;
	top:758px;
	background:#6d6d6d;
}
#Education img{
	display:none;
	border:0px;
}
#round1{
	width:220px;
	height:220px;
	background:url('img/education.png')no-repeat;
	position:absolute;
	left:360px;
	top:150px;
	display:block;
	text-align:center;
    letter-spacing: 6px;
    line-height:220px;
	opacity:0.9;
}
#round2{
	width:220px;
	height:220px;
	background:url('img/major.png')no-repeat;
	position:absolute;
	left:250px;
	top:342px;
	display:block;
	text-align:center;
    letter-spacing: 6px;
    line-height:220px;
    opacity:0.9;
}
#round3{
	width:220px;
	height:220px;
	background:url('img/minor.png')no-repeat;
	position:absolute;
	left:470px;
	top:342px;
	display:block;
	text-align:center;
    letter-spacing: 6px;
    line-height:220px;
    opacity:0.9;
}
#round1:hover img,#round2:hover img,#round3:hover img{
	display:inline;
}
.resize{
	width:100px;
    height:100px;
}
#Skill{
	position:relative;
	width:940;
	height:800px;
	background:#ddee33;
	top:757px;
}
#Skill_img{
	position:absolute;
	width:400px;
	height:300px;
	left:13%;
	top:220px;
}
#Learning_Experience{
	position:relative;
	background:#223453;
	width:940px;
	height:800px;
	color:#fff;
	top:750px;
	text-align:center;
	font-size:30px;
}
#Learning_Experience div,#Hobbies div{
	padding:20px 0 0 0;
	height:100px;
}
#Learning_Experience_img{
	position:absolute;
	top:200px;
	left:17%;
}
#Hobbies{
	position:relative;
	background:#000;
	color:#fff;
	font-size:30px;
	text-align:center;
	width:940px;
	height:700px;
	top:750px;
}
#Hobbies_left{
	position:absolute;
	top:150px;
	left:150px;
}
#Hobbies_right{
	position:absolute;
	top:150px;
	right:150px;
}
footer{
	width:940px;
	height:50px;
	background:#123e4e;
	position:relative;
	top:690px;
	text-align:center;
	letter-spacing:6px;
	color:#fff;
	line-height:50px;	
}